.App {
  height: 100vh;


  font-family: Roboto;
}

h1 {
  text-align: center;
}

.current-temp {
  font-size: 72px;
}

.weather-data-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 100px 50px 100px 100px 25px 150px;
  width: 60vw;
  padding-top: 50px;
  margin: 0 auto;
}

/* Row 1 */

.current-temp {
  grid-column: 1;
  grid-row: 1 / 1;
  justify-self: start;
}

.uv {
  grid-column: 1;
  grid-row: 1;
  justify-self: end;
  align-self: start;
  padding-right: 30px;
}

.weather-description {
  grid-column: 2 / span 2;
  grid-row: 1 / 1;
  justify-self: start;
  align-self: end;
  font-size: 48px;
}

.max-temp {
  grid-column: 3;
  grid-row: 1 / 2;
  justify-self: end;
  align-self: end;
  padding-right: 10%;
}

.max-temp span {
  font-size: 24px;
  font-weight: bold;
}

.min-temp {
  grid-column: 4;
  grid-row: 1 / 2;
  justify-self: start;
  align-self: end;
  padding-left: 10%;
}

.min-temp span {
  font-size: 24px;
}

/* Row 2 */

.feels-like {
  grid-column: 1;
  grid-row: 2 / 3;
  justify-self: start;
  align-self: start;
  padding-left: 10px;
}

.feels-like p {
  margin: 0;
}

.rain-chance {
  align-self: center;
  padding-left: 10px;
  grid-column: 2;
  grid-row: 2;
}

/* Row 3 */

.wind {
  grid-column: 1;
  grid-row: 3 / 4;
  padding-left: 10px;
  align-self: center;
}

.wind p {
  margin: 0;
}

.sunrise {
  grid-column: 2;
  grid-row: 3;
  align-self: center;
  justify-self: start;
  padding-left: 10px;
}

.sunset {
  grid-column: 2;
  grid-row: 3;
  align-self: center;
  justify-self: center;
  padding-right: 20%;
}

/*=============================== Forecast ================================= */

.forecast-label {
  grid-column: 1 / span 4;
  grid-row: 5;
}

.tomorrow-weather {
  grid-column: 1;
  grid-row: 6;
  padding-left: 10px;
}

.overmorrow-weather {
  grid-column: 2;
  grid-row: 6;
  padding-left: 10px;
}

.weather-3 {
  grid-column: 3;
  grid-row: 6;
  padding-left: 10px;
}

.weather-4 {
  grid-column: 4;
  grid-row: 6;
  padding-left: 10px;
}

.tomorrow-weather span {
  display: block;
}

.overmorrow-weather span {
  display: block;
}

.weather-3 span {
  display: block;
}

.weather-4 span {
  display: block;
}

.max {
  font-size: 36px;
  font-weight: bold;
}

.min {
  font-size: 24px;
}

/* ================================= For mobile devices ================================*/

@media (max-width: 767px) {
  .weather-data-container {
    grid-template-columns: 100%;
    grid-template-rows: 100px 50px 150px 100px 100px 100px 150px 25px 150px 150px 150px 150px;
    width: 80vw;
  }

  .current-temp {
    grid-row: 1;
  }

  .uv {
    grid-row: 1;
    padding-right: 0;
  }

  .feels-like {
    grid-row: 2;
  }

  .weather-description {
    grid-column: 1;
    grid-row: 3;
    align-self: center;
  }

  .max-temp {
    grid-column: 1;
    grid-row: 4;
    justify-self: start;
    align-self: center;
  }

  .min-temp {
    grid-column: 1;
    grid-row: 4;
    justify-self: end;
    align-self: center;
  }

  .rain-chance {
    grid-column: 1;
    grid-row: 5;
  }

  .wind {
    grid-row: 6;
  }

  .sunrise {
    grid-column: 1;
    grid-row: 7;
  }

  .sunset {
    grid-column: 1;
    grid-row: 7;
    justify-self: end;
  }

  .forecast-label {
    grid-column: 1;
    grid-row: 8;
  }

  .tomorrow-weather {
    grid-row: 9;
  }

  .overmorrow-weather {
    grid-column: 1;
    grid-row: 10;
    padding-left: 10px;
  }

  .weather-3 {
    grid-column: 1;
    grid-row: 11;
    padding-left: 10px;
  }

  .weather-4 {
    grid-column: 1;
    grid-row: 12;
    padding-left: 10px;
  }
}
